/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

tr, button, a, .logo {
    cursor: pointer;
}

.add-house-form  {
    display: flex;
    align-items: center;
  }
  
  .add-house-form input {
    width: 100%;
  }
  
  .add-new-button {
    background-color: var(--sub);
    margin: auto;
  }

  /* HOuselist */
  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin-bottom: 1em;
  }
  
  details[open] {
    padding: 0.5em;
  }
  
  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }


/*               HALLOWEEN STYLES            */
/* VARIABLES CSS */
:root {
  /* Colors */
  --hue: 14;
  --title-color: hsl(var(--hue), 4%, 100%);
  --text-color: hsl(var(--hue), 4%, 85%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  /*Red gradient*/
  --body-color: linear-gradient(
    90deg,
    hsl(338, 67%, 11%) 0%,
    hsl(281, 63%, 10%) 100%
  );
  --container-color: linear-gradient(
    136deg,
    hsl(338, 67%, 11%) 0%,
    hsl(281, 63%, 10%) 100%
  );
  --sub: #ff5b79;
  /* Font and typography */
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;
}

body {
  margin: 3.5rem 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
  transition: 0.3s;
}
h1,
h2,
h3,
h4 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

table {
  color: var(--text-color) !important;
  margin: 2rem 0;
}

table thead {
  font-size: var(--h2-font-size);
}

table tr:hover {
  transform: scale(1.03);
  height: 55px;
  vertical-align: middle;
  transition: 0.7s;
}

summary {
  font-size: var(--h2-font-size);
}
